@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&family=Noto+Sans+TC:wght@100..900&display=swap');

/* Normalize.css reset by cdn link */

/* entire web */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: "Noto Sans TC", "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--dark);
    background-color: var(--light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
    font-size: 100%;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

a {
    display: block;
    color: var(--dark);
    text-decoration: none;
}

/* color */
:root {
    /* primary */
    --primary: #2680D9;
    --light: #E9F2FB;
    --dark: #0F3357;
    /* secondary */
    --gradient: linear-gradient(90deg, #2680D9, #26D9D9, #FAEB9E);
    --gradient-vertical: linear-gradient(180deg, #2680D9, #26D9D9, #FAEB9E);
    --gradient-header: linear-gradient(180deg, #2680D9 15%, #26D9D9 50%, #FAEB9E 85%);
    /* others */
    --warning: #D92634;
    --placeholder: rgba(38, 127, 217, 0.7);
    /* background */
    --bg-gradient:
        linear-gradient(90deg, rgba(38, 127, 217, 0.4), rgba(38, 217, 217, 0.4), rgba(250, 235, 158, 0.4)),
        linear-gradient(90deg, #E9F2FB, #E9F2FB);
    --blue-gradient:
        linear-gradient(45deg, rgba(38, 127, 217, 0.15) 0, rgba(38, 127, 217, 0) 40%, rgba(38, 127, 217, 0.15) 100%),
        linear-gradient(45deg, #E9F2FB, #E9F2FB);
    --clip-gradient-dark:
        linear-gradient(70deg, #0F3357 0%, #0F3357 30%, #2680D9 35%, #26D9D9 50%, #FAEB9E 65%, #0F3357 70%, #0F3357 100%);
    --clip-gradient-light:
        linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),
        linear-gradient(70deg, #E9F2FB 0%, #E9F2FB 30%, #2680D9 35%, #26D9D9 50%, #FAEB9E 65%, #E9F2FB 70%, #E9F2FB 100%);
    /* --dark-gradient:
        linear-gradient(180deg, rgba(15, 51, 87, 0) 0, rgba(15, 51, 87, 0.4) 40%, rgba(15, 51, 87, 0) 100%); */
    --bg-navbar: rgba(233, 242, 251, 0.8);
    --dark-20: rgba(15, 51, 87, 0.2);
    --dark-40: rgba(15, 51, 87, 0.4);
    --dark-70: rgba(15, 51, 87, 0.7);
    --dark-90: rgba(15, 51, 87, 0.9);
    --light-gradient: linear-gradient(#E9F2FB, #E9F2FB);
    --transparent: linear-gradient(rgba(233, 242, 251, 0), rgba(233, 242, 251, 0));
}

/* fonts: "Noto Sans TC" 400 by default */
/* Chinese - title */
.cn-title-xs {
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.1em;
}

.cn-title-s {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 150%;
    letter-spacing: 0.1em;
}

.cn-title-m {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 150%;
    letter-spacing: 0.1em;
}

.cn-title-l {
    font-weight: 400;
    font-size: 2rem;
    line-height: 120%;
    letter-spacing: 0.1em;
}

.cn-title-xl {
    font-weight: 400;
    font-size: 2.75rem;
    line-height: 100%;
    letter-spacing: 0.2em;
}

/* Chinese - content */
.cn-content-s {
    font-weight: 350;
    font-size: 0.875rem;
    line-height: 180%;
    letter-spacing: 0.1em;
}

.cn-content-m {
    font-weight: 350;
    font-size: 1rem;
    line-height: 180%;
    letter-spacing: 0.1em;
}

.cn-content-l {
    font-weight: 350;
    font-size: 1.25rem;
    line-height: 180%;
    letter-spacing: 0.1em;
}

/* English - "Josefin Sans" 400 */
.en-xs {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 100%;
}

.en-s {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
}

.en-m {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 100%;
}

.en-l {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 100%;
}

.en-xl {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 100%;
}

.en-xxl {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 6rem;
    line-height: 100%;
}

@media (max-width: 1200px) {
    .cn-title-xl {
        font-size: 2.5rem;
    }

    .en-l {
        font-size: 1.75rem;
    }
}

@media (max-width: 992px) {
    .cn-title-l {
        font-size: 1.75rem;
    }

    .cn-title-xl {
        font-size: 2rem;
    }

    .en-m {
        font-size: 1.125rem;
    }

    .en-l {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    .cn-title-l {
        font-size: 1.5rem;
    }

    .cn-title-xl {
        font-size: 1.75rem;
    }

    .en-m {
        font-size: 1rem;
    }

    .en-l {
        font-size: 1.25rem;
    }

}

@media (max-width: 576px) {
    .cn-title-m {
        font-size: 1.125rem;
        letter-spacing: 0.1em;
    }

    .cn-title-l {
        font-size: 1.25rem;
    }

    .cn-title-xl {
        font-size: 1.5rem;
        letter-spacing: 0.1em;
    }

    .cn-content-m {
        font-size: 0.875rem;
    }

    .en-xs {
        font-size: 0.6875rem;
    }

    .en-s {
        font-size: 0.75rem;
    }

    .en-m {
        font-size: 0.875rem;
    }

    .en-l {
        font-size: 1rem;
    }

    .en-xl {
        font-size: 2.75rem;
    }

    .en-xxl {
        font-size: 5rem;
    }

}

/* header */
.navbar {
    width: 100%;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    background: transparent;
    transition: all 0.5s ease-in-out;
}

.navbar.animation {
    animation: bannerFadeIn 1s 1.3s both ease-in-out;
}

.navbar.background {
    background: var(--bg-navbar);
    backdrop-filter: blur(10px);
}

.navbar>a {
    padding: 0 20px;
}

.logo {
    /* shared with footer */
    height: 24px;
    object-fit: contain;
}

.menu ul {
    display: flex;
    list-style-type: none;
}

.menu a {
    padding: 20px;
}

.nav-toggle {
    display: none;
}

@media (max-width: 576px) {
    .navbar {
        height: 48px;
        padding: 0;
        background: transparent;
        transition: all 0.5s ease-in-out;
    }

    .menu ul {
        flex-direction: column;

    }

    .menu {
        position: fixed;
        right: -100%;
        top: 48px;
        background-color: var(--light);
        opacity: 0;
        transition: all 0.5s ease-in-out;
    }

    .navbar.active {
        background-color: var(--light);
    }

    .navbar.active .menu {
        right: 0;
        opacity: 1;
    }

    .navbar .logo {
        margin: 12px 0;
        width: fit-content;
    }

    .menu a {
        width: 100vw;
    }

    /* nav toggle button */
    .nav-toggle {
        padding: 0;
        margin: 0 20px;
        width: 48px;
        height: 48px;
        display: block;
        background-color: transparent;
        border: none;
        position: relative;
        z-index: 100;
    }

    .line {
        width: 32px;
        height: 2px;
        margin: auto;
        display: block;
        position: relative;
        background-color: var(--dark);
    }

    .line::after,
    .line::before {
        content: "";
        width: 32px;
        height: 2px;
        margin: auto;
        display: block;
        position: absolute;
        background-color: var(--dark);
    }

    .line::after {
        top: 8px;
        right: 0;
    }

    .line::before {
        bottom: 8px;
        right: 0;
    }

    .line,
    .line::after,
    .line::before {
        transition: all 0.5s ease-in-out;
    }

    .line.active {
        transform: rotate(-45deg);
    }

    .line.active::after {
        top: 0;
    }

    .line.active::before {
        transform: rotate(90deg);
        bottom: 0;
    }
}

/* top button */
#btn-top {
    width: 60px;
    height: 60px;
    padding: 0;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url("../images/btn-top-default.svg");
    transition: all 0.5s ease-in-out;
}

#btn-top:hover {
    background-image: url("../images/btn-top-hover.svg");
}

/* footer */
footer {
    padding: 36px 4%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.left-text,
.right-text {
    height: 140px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-text a {
    width: fit-content;
    height: fit-content;
}

.text-box small {
    display: block;
    margin-top: 4px;
}

.right-text h3 {
    margin-bottom: 12px;
}

.follow-us {
    display: flex;
    align-items: center;
}

.follow-us span {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 2px solid var(--dark);
}

.follow-us img {
    width: 36px;
    height: 36px;
}

@media (max-width: 1200px) {
    footer {
        padding: 36px 6vw;
    }
}

@media (max-width: 576px) {
    footer {
        padding: 20px 8vw;
        flex-direction: column;
        align-items: flex-start;
    }

    .left-text,
    .right-text {
        height: 128px;
        padding: 0;
    }

    .left-text {
        margin-bottom: 32px;
    }

}

/* banner */
#banner-index {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-gradient);
    overflow: hidden;

}

.banner-logo {
    height: 100%;
    position: absolute;
    z-index: 2;
    object-fit: contain;
    object-position: center;
    opacity: 0.5;
    mix-blend-mode: overlay;
}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;
    animation: bannerScale 1s 1.3s both ease-in-out;
}

.banner-text h1,
.banner-text h2 {
    margin: 8px 0;
    display: flex;
    justify-content: center;
}

.banner-text span {
    display: block;
}

.text1 {
    animation: text1 1s both ease-in-out;
}

.text2 {
    animation: text2 1s 0.2s both ease-in-out;
}

.text3 {
    animation: text3 1s 0.1s both ease-in-out;
}

.text4 {
    animation: text4 1s 0.3s both ease-in-out;
}

.banner-img {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    animation: bannerFadeIn 1s 1.3s both ease-in-out;
}

.banner-text p {
    margin-top: 32px;
    text-align: center;
    overflow: hidden;
}

.banner-text p span {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: var(--clip-gradient-dark);
    background-size: 400%;

    animation: bannerMove 0.5s 2s both ease-in-out, bannerShine 4s 2s both;
}


@keyframes bannerShine {
    from {
        background-position: right;
    }

    to {
        background-position: left;
    }
}


@keyframes text1 {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes text2 {
    from {
        transform: translateY(300%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes text3 {
    from {
        transform: translateY(200%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes text4 {
    from {
        transform: translateY(400%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes bannerScale {
    from {
        transform: scale(2);
    }

    to {
        transform: scale(1);
    }
}

@keyframes bannerFadeIn {
    from {
        display: none;
        opacity: 0;
    }

    to {
        display: flex;
        opacity: 1;
    }
}

@keyframes bannerMove {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@media (max-width: 576px) {
    .banner-text p {
        width: 68%;
    }

    @keyframes bannerScale {
        from {
            transform: scale(1.5);
        }

        to {
            transform: scale(1);
        }
    }
}

/* sections shared*/
section {
    padding: 50px 4vw;
}

@media (max-width: 1200px) {
    section {
        padding: 40px 6vw;
    }
}

@media (max-width: 576px) {
    section {
        padding: 32px 8vw;
    }
}

/* title */
.title-m h1 {
    margin: 2px 0 16px 0;
    position: relative;
}

.title-m h1,
.title-m h3 {
    width: max-content;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 500%;
    background-position: right;
    transition: all 2s ease-in-out;
}

.title-m.active h1,
.title-m.active h3 {
    background-position: left;
}

#tours .title-m h1,
#tours .title-m h3,
#contact .title-m h1,
#contact .title-m h3 {
    background-image: var(--clip-gradient-light);
}

#booking .title-m h1,
#booking .title-m h3,
#regional .title-m h1,
#regional .title-m h3,
#themed .title-m h1,
#themed .title-m h3,
#sports .title-m h1,
#sports .title-m h3 {
    background-image: var(--clip-gradient-dark);
}

.title-m h1::after {
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -16px;
    background: var(--gradient);
    transition: all 0.5s 0.5s ease-in-out;
}

.title-m.active h1::after {
    width: 100%;
}

@media (max-width: 992px) {
    .title-m h1 {
        margin: 2px 0 12px 0;
    }

    .title-m h1::after {
        bottom: -12px;
    }
}

@media (max-width: 576px) {
    .title-m h1 {
        margin: 2px 0 8px 0;
    }

    .title-m h1::after {
        height: 2px;
        bottom: -8px;
    }
}

/* button */
.btn-square {
    width: max-content;
    padding: 8px 16px;
    border: 2px solid transparent;
    border-radius: 8px;
    color: var(--dark);
    background: var(--blue-gradient) padding-box, var(--gradient) border-box;

    position: relative;
    overflow: hidden;
}

.btn-square::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: -100%;
    top: 0;
    background: var(--bg-gradient) padding-box, var(--gradient) border-box;
    transition: all 0.5s ease-in-out;
}

.btn-square:hover::after {
    left: 0;
}

.btn-square div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    white-space: nowrap;
}

.btn-square span {
    width: 30px;
    margin-left: 4px;
    display: flex;
    overflow: hidden;
}

.btn-square span img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
}

.btn-square:hover span img {
    transform: translateX(0);
}

/* about section*/
#about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.border {
    width: 100%;
    max-width: 1440px;
    margin: 50px 0;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 10px solid var(--primary);
    border-radius: 16px;
}

.about-box {
    width: 800px;
    height: 128px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -64px;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, 0);
    background-color: var(--light);
}

.about-box h2 {
    margin: 8px;
}

.intro-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro {
    width: 800px;
    padding: 50px 0 50px 50px;
    margin: 10px 0;
    background: var(--blue-gradient) padding-box, var(--gradient) border-box;
    border: 2px solid transparent;
    border-radius: 16px;
}

.intro h3 {
    width: fit-content;
    margin-bottom: 24px;
    padding-left: 16px;
    position: relative;
    white-space: nowrap;
}

.intro h3::before {
    content: "";
    height: 100%;
    width: 3px;
    position: absolute;
    left: 0;
    background: var(--gradient-vertical);
}

.intro p {
    text-align: justify;
}


@media (max-width: 1200px) {
    .about-box {
        width: 640px;
    }

    .intro {
        width: 640px;
        padding: 40px;
    }

    .intro h3+p {
        margin-bottom: 12px;
    }
}

@media (max-width: 992px) {
    .about-box {
        width: 560px;
    }

    .intro {
        width: 560px;
        padding: 32px;
    }
}

@media (max-width: 768px) {
    .about-box {
        width: 480px;
    }

    .intro {
        width: 480px;
    }
}

@media (max-width: 576px) {
    .border {
        margin: 50px 0;
        padding: 100px 0 0;
        border: 0px solid var(--primary);
    }

    .about-box {
        width: 100%;
    }

    .intro {
        width: 100%;
        padding: 20px;
    }

    .intro h3 {
        margin-bottom: 12px;
        padding-left: 8px;
    }

    .intro h3::before {
        width: 2px;
    }

}

/* tours section*/
#tours {
    height: 100vh;
    min-height: 560px;
    display: flex;
    color: var(--light);
    background-color: var(--dark);
}

.title-box {
    padding-right: 24px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-box p {
    margin: 56px 0;
}

/* tour-box */
.tour-box {
    flex: 5;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

.tour {
    width: 32%;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    aspect-ratio: 1.5 / 1;
    border-radius: 8px;
    overflow: hidden;
}

.mask {
    width: 100%;
    height: 100%;
}

.mask::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    background-color: var(--dark-20);
    transition: all 0.5s ease-in-out;
}

.tour:hover .mask::after {
    background-color: var(--dark-90);
}

.tour img {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    transition: all 0.5s ease-in-out;
}

.tour:hover img {
    transform: scale(1.1);
}

/* border animation */
.content {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;
    color: var(--light);
    border: 2px solid transparent;
}

.content::before,
.content::after {
    content: "";
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    border: solid transparent;
    border-image: var(--gradient) 30%;
    transform-origin: center;
    transition: all 0.5s ease-in-out;
}

.content::before {
    border-width: 2px 0;
    transform: scaleX(0);
}

.content::after {
    border-width: 0 2px;
    transform: scaleY(0);
}

.tour:hover .content::before {
    transform: scaleX(1);
}

.tour:hover .content::after {
    transform: scaleY(1);
}

.content h2 {
    width: fit-content;
    padding-bottom: 12px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 4;
    transform: translate(-50%, -100%);
    white-space: nowrap;
    filter: drop-shadow(1px 1px 2px var(--dark-40));
}

.content .center-line {
    width: 30%;
    height: 2px;
    display: block;
    background: var(--gradient);
    transform: scaleX(1);
    transform-origin: center;
    transition: all 0.5s ease-in-out;
}

.tour:hover .center-line {
    transform: scaleX(0);
}

.content p {
    width: 100%;
    padding: 16px 20px 0;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 4;
    transform: translate(-50%, 0);
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.tour:hover .content p {
    opacity: 1;
}


@media (max-width: 1200px) {
    #tours {
        height: max-content;
        flex-direction: column;
    }

    .title-box {
        padding: 48px 0;
    }

    .tour-box {
        flex-direction: row;
    }

    .tour {
        width: 48%;
    }
}

@media (max-width: 576px) {
    .tour-box {
        justify-content: center;
    }

    .tour {
        width: 100%;
    }
}

/* booking section */
#booking {
    height: 100vh;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.step-box {
    width: 100%;
    height: max-content;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step {
    width: 400px;
    height: 400px;
    position: relative;
}

.number {
    position: absolute;
    left: 30px;
    top: 20px;
    z-index: 1;
}

.no1 {
    left: 40px;
}

.no3 {
    right: 40px;
}

/* border effect */
.outer-circle {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50%;
    overflow: hidden;

    transform: rotate(-45deg);
}

.inner-circle {
    width: 99%;
    height: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: var(--blue-gradient);
    border-radius: 50%;

    transform: rotate(45deg);
}

.right-circle,
.left-circle {
    width: calc(50% + 1px);
    height: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
}

.right-circle {
    right: 0;
}

.left-circle {
    left: 0;
}

.right-circle::after,
.left-circle::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: var(--primary);
}

.right-circle::after {
    left: -100%;
    transform-origin: right center;
}

.left-circle::after {
    right: -100%;
    transform-origin: left center;
}

.no1 .right-circle::after {
    transition: all 0.25s linear;
}

.no1 .left-circle::after {
    transition: all 0.25s 0.25s linear;
}

.no2 .right-circle::after {
    transition: all 0.25s 0.5s linear;
}

.no2 .left-circle::after {
    transition: all 0.25s 0.75s linear;
}

.no3 .right-circle::after {
    transition: all 0.25s 1s linear;
}

.no3 .left-circle::after {
    transition: all 0.25s 1.25s linear;
}

.step.active .right-circle::after {
    transform: rotate(180deg);
}

.step.active .left-circle::after {
    transform: rotate(180deg);
}

/* circle content */
.inner-circle::after {
    content: "";
    width: 56%;
    height: 3px;
    background: var(--gradient);
    transform: scaleX(0);
    transform-origin: left;
}

.no1 .inner-circle::after {
    transition: all 0.25s 0.25s ease-in-out;
}

.no2 .inner-circle::after {
    transition: all 0.25s 0.75s ease-in-out;
}

.no3 .inner-circle::after {
    transition: all 0.25s 1.25s ease-in-out;
}

.step.active .inner-circle::after {
    transform: scaleX(1);
}

.inner-circle h3 {
    width: 56%;
    padding-bottom: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
}

.inner-circle p {
    width: 56%;
    padding-top: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
    text-align: justify;
}

@media (max-width: 1400px) {
    .step {
        width: 384px;
        height: 384px;
    }

    .inner-circle::after {
        width: 60%;
    }

    .inner-circle h3 {
        width: 60%;
    }

    .inner-circle p {
        width: 60%;
    }
}

@media (max-width: 1200px) {
    #booking {
        height: max-content;
    }

    .step-box {
        flex-direction: column;
    }

    .step {
        margin: 10px 0;
    }

    .no1 {
        left: 0;
    }

    .no3 {
        right: 0;
    }
}

@media (max-width: 576px) {
    .step {
        width: 312px;
        height: 312px;
    }

    .inner-circle::after {
        width: 72%;
    }

    .number {
        left: 12px;
        top: 16px;
    }

    .inner-circle h3 {
        width: 72%;
        padding-bottom: 16px;
    }

    .inner-circle p {
        width: 72%;
        padding-top: 16px;
    }

}

/* contact section */
#contact {
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    padding: 0;
    display: flex;
    background-image: url("../images/wanaka.jpg");
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.left-box,
.right-box {
    width: 100%;
    height: 100%;
    padding: 120px 4vw 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--dark-70);
    transition: all 0.5s ease-in-out;
}

.left-box:hover,
.right-box:hover {
    background-color: transparent;
}

.left-box {
    border-right: 1px solid var(--light);
}

.right-box {
    border-left: 1px solid var(--light);
}

.contact-text p {
    width: 60%;
    margin-top: 12%;
    text-align: justify;
    color: var(--light);
    transition: all 0.5s ease-in-out;
}

/* .left-box:hover .contact-text p,
.right-box:hover .contact-text p {
    color: var(--dark);
} */

.left-box .btn-square,
.right-box .btn-square {
    margin: 12% 0;
}

.left-box:hover .btn-square::after,
.right-box:hover .btn-square::after {
    left: 0;
}

.left-box:hover .btn-square span img,
.right-box:hover .btn-square span img {
    transform: translateX(0);
}

@media (max-width: 1200px) {
    #contact {
        height: 640px;
    }

    .left-box,
    .right-box {
        padding: 80px 6vw 40px;
    }

    .contact-text p {
        width: 88%;
        margin-top: 48px;
    }
}

@media (max-width: 576px) {
    #contact {
        height: fit-content;
        flex-direction: column;
        background-position: left 30% top 50%;
    }

    .left-box,
    .right-box {
        padding: 60px 8vw 40px;
    }

    .left-box {
        border-right: 0px solid var(--light);
        border-bottom: 1px solid var(--light);
    }

    .right-box {
        border-left: 0px solid var(--light);
        border-top: 1px solid var(--light);
    }

    .contact-text p {
        width: 100%;
    }
}


/* Tours Page */
/* banner */
#banner {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square-box {
    width: 100%;
    /* height set by RWD */
    margin: 0 4vw;
    position: relative;
    overflow: hidden;
}

.square-box img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    /* object-position: bottom; */
    /* 照片裁剪過後這行拿掉 */
}

.circle-box {
    height: 116vh;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    left: 6%;
    top: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
    border-radius: 999px;
    border: 20px solid transparent;
    background: var(--light-gradient) padding-box, var(--gradient-header) border-box;
}

/* .square-box::after {
    content: "";
    height: 100vh;
    aspect-ratio: 1 / 1;
    position: absolute;
    left: 8%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 999px;
    border: 20px solid var(--light);
} */

.title-l {
    margin-right: 16%;
    text-align: center;
}

.title-l h1 {
    margin-top: 60px;
    position: relative;
}

.title-l h1::before {
    content: "";
    width: calc(100% - 8px);
    height: 3px;
    position: absolute;
    left: 0;
    top: -32px;
    background: var(--gradient);
}

@media (min-width: 1201px) {
    .square-box {
        height: 80vh;
    }
}

@media (max-width: 1200px) {
    #banner {
        height: fit-content;
    }

    .square-box {
        aspect-ratio: 2 / 1;
        margin: 80px 6vw;
    }

    .circle-box {
        height: 130%;
        border: 16px solid transparent;
    }

    .title-l {
        margin-right: 12%;
    }

    .title-l h1 {
        margin-top: 40px;
    }

    .title-l h1::before {
        top: -24px;
    }
}

@media (max-width: 992px) {
    .title-l {
        margin-right: 10%;
    }
}

@media (max-width: 768px) {
    .title-l {
        margin-right: 12%;
    }
}

@media (max-width: 576px) {
    .square-box {
        margin: 48px 8vw 20px;
    }

    .square-box img {
        border-radius: 8px;
    }

    .circle-box {
        height: 148%;
        left: 6%;
        border: 4px solid transparent;
    }

    .title-l {
        margin-right: 8%;
    }

    .title-l h1 {
        margin-top: 20px;
    }

    .title-l h1::before {
        width: calc(100% - 4px);
        height: 2px;
        top: -12px;
    }

    .title-l h3 {
        width: 100px;
    }
}

/* tour-list */
.tour-list {
    margin-top: 40px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 4%;
    grid-row-gap: 32px;
    grid-auto-rows: minmax(0, auto);
}

.tour-card {
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 2px 4px 8px var(--dark-40);
    overflow: hidden;
}

.tour-card img {
    aspect-ratio: 4 / 3;
}

.tour-card:hover .btn-square::after {
    left: 0;
}

.tour-intro {
    padding: 32px 40px;
    position: relative;
    color: var(--light);
    background-color: var(--dark);
}

.tour-intro::before {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--gradient);
}

.tour-intro h2,
.tour-intro p {
    margin-bottom: 24px;
}

.tour-intro h2 {
    white-space: nowrap;
}

.tour-intro p {
    height: 100px;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

@media (max-width: 1200px) {
    .tour-list {
        grid-column-gap: 2%;
        grid-row-gap: 16px;
    }

    .tour-intro {
        padding: 24px;
    }

    .tour-intro h2,
    .tour-intro p {
        margin-bottom: 16px;
    }
}

@media (max-width: 992px) {

    .tour-list {
        margin-top: 32px;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 4%;
        grid-row-gap: 8px;
    }

    .tour-card {
        margin: 10px 0 20px;
    }

    .tour-intro {
        padding: 24px;
    }

}

@media (max-width: 576px) {
    .tour-list {
        margin-top: 20px;
        grid-template-columns: repeat(1, 1fr);
    }

    .tour-intro {
        padding: 24px;
    }

    .tour-intro h2,
    .tour-intro p {
        margin-bottom: 16px;
    }
}

/* Customized Tous */
.intro-cus {
    padding: 48px 16%;
    color: var(--light);
    background-color: var(--dark);
    border-radius: 16px;
}

.text-cus {
    margin-left: 40px;
    position: relative;
}

.text-cus::before {
    content: "";
    width: 3px;
    height: 100%;
    position: absolute;
    left: -40px;
    top: 0;
    background: var(--gradient-vertical);
}

.text-cus p {
    margin-bottom: 24px;
    text-align: justify;
}

.text-cus p a {
    display: inline;
    color: var(--light);
}

/* form */
form {
    margin-top: 24px;
    padding: 24px 16% 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--dark);
    background: var(--blue-gradient);
    border-radius: 16px;
}

.requried {
    width: 100%;
    text-align: right;
}

form span {
    color: var(--warning);
}

.input-half,
.input-full {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.input-half {
    width: 48%;
}

.input-full {
    width: 100%;
}

.input-half:nth-child(-n+3) {
    margin-top: 0;
}

form input,
form select,
form textarea {
    padding: 12px 8px;
    margin-top: 4px;
    color: var(--dark);
    border: none;
    border-radius: 4px;
    /* outline: none;	 */
    /* 取消有些瀏覽器的預測外框 */
}

form input:focus,
form textarea:focus {
    outline: 2px solid var(--placeholder);
    /* 修改瀏覽器預設外框 */
}

input::placeholder {
    color: var(--placeholder);
    font-weight: 350;
    font-size: 0.75rem;
    letter-spacing: 0.1em;
}

.btn-form {
    width: 100%;
    margin-top: 24px;
    display: flex;
    justify-content: center;
}

.btn-form #customized-submit {
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    white-space: nowrap;
    border: 2px solid transparent;
    border-radius: 8px;
    color: var(--dark);
    background: var(--blue-gradient) padding-box, var(--gradient) border-box;
    cursor: pointer;
}

.btn-form #customized-submit::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: -100%;
    top: 0;
    background: var(--bg-gradient) padding-box, var(--gradient) border-box;
    transition: all 0.5s ease-in-out;
}

.btn-form #customized-submit:hover::after {
    left: 0;
}

@media (max-width: 1200px) {
    .intro-cus {
        padding: 48px 8%;
    }

    form {
        padding: 24px 8% 40px;
    }
}

@media (max-width: 992px) {
    .intro-cus {
        padding: 32px 6%;
    }

    .text-cus {
        margin-left: 32px;
    }

    .text-cus::before {
        left: -32px;
    }

    form {
        padding: 24px 6% 40px;
    }
}

@media (max-width: 576px) {
    .text-cus {
        margin-left: 20px;
    }

    .text-cus::before {
        left: -20px;
    }

    .input-half {
        width: 100%;
    }

    .input-half:nth-child(3) {
        margin-top: 24px;
    }
}

/*
@media (min-width: 1401px) {}
@media (max-width: 1400px) {}
@media (max-width: 1200px) {}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
@media (max-width: 576px) {}
*/